.todo-result{
    padding: 2vw;
    margin: 3vw;
    border: 1px solid #0082BA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-form{
    width: fit-content;
    margin: 10px auto;
}

.todo-card{
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    width: 90%;
    height: auto;
    margin: 10px 0;
    padding: 10px 5px;
}

.todo-card > .todo-title{
    margin: 0 auto;
}

.todo-result > h1{
    color: #00000033
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #0082BA;
    animation: prixClipFix 2s linear infinite ;
}

.fetch_error_cnt{
    display: flex;
    max-height: 100px;
    width: 100%;
    justify-content: center;
}

.fetch_error_cnt > img{
    display: block;
    width: 100px;
}

.fetch_error_cnt > p{
    display: flex;
    align-items: center;
    margin: 0 15px;
    color: #0082BA;
    font-size: 1.5rem;
    font-weight: 900;
}

@keyframes rotate {
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}